/* section */
section{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

/* body */
body{
  background-image: url("../img/blue-bg.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

 /* content */
.content{
    max-width: auto;
    margin: 10px 100px 0px;
    font-family:"Poppins";
}

.content .info h2{
    color:white;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 5px;
    margin-top: 50px;
    font-size: 150px;
}

.content h2 span{
    font-size: 75px;
    font-weight: 600;
    font-family:"Poppins";
}

.column {
  float:left;
  width: 33.33%;
  padding: 10px;
  background-color: white;
  margin-top: 5%;
  margin-bottom: 3%;
  font-family: "Poppins";
  font-size: large;
  text-align: center;
  border-style: solid;
  border-color: #FFC947;
  border-width: 3px;
 
}


.row:after {
  display: table;
  clear: both;
}
