.event-container {
    font-family: "Poppins", sans-serif;
    max-width: 800px;
    margin: 0 auto;
    color: white;
  }
  
  .event-container h3.year {
    font-size: 50px;
    text-align: center;
    border-bottom: 2px solid white;
  }
  
  .event-container .event {
    box-shadow: 0 0 10px 3px white;
    display: flex;
    border-radius: 20px;
    margin: 32px 0;

  }
  
  
  .event .event-left {
    background: #FFC947;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
  }
  
  .event .event-left .date {
    font-size: 56px;
  }
  
  .event .event-left .month {
    font-size: 16px;
    font-weight: normal;
  }
  
  .event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
  }
  
  .event .event-right h3.event-title {
    font-size: 24px;
    margin: 24px 0 10px 0;
    color: white;
    text-transform: uppercase;
  }
  
  .event .event-right .event-timing {
    background: #FFC947;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 8px;
    border-radius: 10px;
    margin: 24px 0;
    font-size: 14px;
  }
  
  
  @media (max-width: 550px) {
    .event {
      flex-direction: column;
    }
  
    .event .event-left {
      padding: 0;
      border-radius: 8px 8px 0 0;
    }
  
    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
      display: inline-block;
      font-size: 24px;
    }
  
    .event .event-left .event-date {
      padding: 10px 0;
    }
  }