/* Contact container */
.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
/* Contact id */
#contact-section .container h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2px;
    margin-top: 25px;
    font-size: 150px;
    font-family: "Poppins";
}

#contact-section .container h4{
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 150px;
    font-family: "Poppins";
}

/* Contact icons */
.contact-form i.fa{
    position: relative;
    font-size: 25px; 
    padding: 1%;
    margin-left: 10%;
    background-color: none;
    cursor: pointer;
    color: white;
}

/* Contact icons hover */
.contact-form i.fa:hover{
    cursor: pointer;
    border:2px solid #FFC947;
    color: #FFC947;
}

/* Contact form */
.contact-form{
    display: grid;
    grid-template-columns: auto auto;
}

/* Contact form info */
.form-info{
    font-size: 16px;
    font-family: "Poppins";
    color: white;
    letter-spacing: 2px;
}

input{
    padding: 13px;
    margin:5px;
    width: 80%;
    border-radius: 5px;
    background-color: #FFC947;
    color: white;
    border: none;
    outline:none;
    font-family: "Poppins";
    font-size: medium;
}

input:hover{
    background: white;
    color: black;
}

textarea{
    padding: 13px;
    margin:5px;
    width: 80%;
    border-radius: 5px;
    background-color: #FFC947;
    color: white;
    border: none;
    outline:none;
    font-family: "Poppins";
    font-size: medium;
}

textarea:hover{
    background: white;
    color: black;
}

.submit{
    color:rgb(64, 89, 121);
    background: #FFC947;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600px;
    padding: 20px 45px;
    border-radius: 5px;
    border: none;
    
}

.submit:hover{
    background: white;
    color: rgb(64, 89, 121);
}

@media (max-width: 768px){
    #contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;
      }
    #contact-section .submit{
        width: 60%;
      }
}


p{
    position: relative;
    margin-left: 10%;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
}
