@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  box-sizing: border-box;
}

.header {
    overflow: hidden;
    background-color: #FFC947;
    padding: 10px 5px;
    border-radius: 5px;
  }
  
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family:"Poppins";
  }
  
.header a:hover {
    background-color: white;
    color: black;
  }
  
.header a.active {
    background-color: none;
    color: black;
  }
  
.header-right {
    float: right;
  }
  
@media screen and (max-width: 500px) {
.header a {
    float: none;
    display: block;
    text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }

  /* section */
section{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* content */
.content{
    max-width: auto;
    margin: 60px 100px;
    font-family:"Poppins";
}

/* Center and scale the image nicely */
body{
   background-image: url("../img/blue-bg.jpg");
   background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
}

.content .info h2{
    color:white;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
    font-size: 150px;
}

.content h2 span{
    font-size: 75px;
    font-weight: 600;
    color: #FFC947;
    font-family:"Poppins";
}

.content .info p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 100px;
    font-family:"Poppins";
    text-align: justify;
    text-justify: inter-word;
    color: white;
}

.content .info-btn{
    color: #fff;
    background: #FFC947;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
}

.content .info-btn:hover{
    background: white;
    color: black;
    font-family: "Poppins";
}




